* {
  /* border: 1px solid red */
  }

  /* ***** GLOBAL RULES ***** */
body {
  display: flex; 
  justify-content: space-between;
  height: 98vh;
  font-family: 'Shippori Mincho B1', serif; 
  }

/* ***** SIDEBARS ***** */  
.player1-sidebar,
.player2-sidebar {
  width: 30em;
  background-color: #c5ecdf;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 4em;
  margin: 1.5em 0 0 0;
}

h3 {
  font-size: 2em;
  margin-top: 0;
  font-weight: 600;
}

  /* ***** MIDDLE ***** */
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
h1 {
  font-size: 3em;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  width: 38em;
  margin-top: 3.5em;
}

.spot {
  height: 11em;
  width: 12em;
}

.a,
.b,
.c,
.d,
.e,
.f {
  border-bottom: 4px solid black;
  margin: 0 0;
}

.b,
.e,
.h {
  border-right: 4px solid black;
  border-left: 4px solid black;
}

.g,
.h,
.i {
  margin-top: 0;
}

.player1-playLeft,
.player2-playLeft {
  position: absolute;
  font-size: 4em;
  padding-left: 1.2em;
}

.player1-playMiddle,
.player2-playMiddle {
  position: absolute;
  font-size: 4em;
  padding-left: 4.1em;
}

.player1-playRight,
.player2-playRight {
  position: absolute;
  font-size: 4em;
  padding-left: 7em;
}

.middle-row {
  padding-top: 2.5em;
}

.bottom-row {
  padding-top: 5em;
}

.visibility-hidden {
  display: none;
}